page-home {

    .header {
        background-color: #3b5998;
        color: white;
    }

    .selected {

        background-color: #fcffbd;

    }
    /*.toast001 {
        background-color: #f53d3d !important;
    }*/

    $loading-md-spinner-dots-color : red;


    .gray001{
        height: 36px;
        width: 100%;
        min-height: 36px;
    }

    .bottom001{
        position: fixed;
        bottom: 50px;
    }



}
