// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";



$colors: (
    primary: #488aff,
    secondary: #32db64,
    danger: #f53d3d,
    light: #f4f4f4,
    yellow: #ffe85f,
    dark: #222,
    black : black,
    green : green,
    bora : #503380,
    yoon : #5f67ff,
    clova : #6bffd1,
    facebook : #3b5998,
    google : #d34836
);

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
ion-content{
    font-family: ‘Noto Sans KR’ !important;
}
.notosans{
    font-family: ‘Noto Sans KR’ !important;
}



ion-toast.toast001 .toast-wrapper {
    background: blue;
}

ion-toast.error .toast-wrapper {
    background: rgb(209, 71, 71);

}

$loading-md-spinner-color: #3b5998;
$loading-md-background: black;
$loading-md-text-color: white;

$select-md-icon-color: #3b5998;
$select-md-placeholder-color: #3b5998;
$popover-md-text-color  : #3b5998;
$tabs-md-tab-text-color-active: #3b5998;
$tabs-md-tab-icon-color-active : #3b5998;
$infinite-scroll-loading-color : #3b5998;
$refresher-icon-color:#3b5998;









